body {
  width: max-content;
  margin: 0;
  font-size: 1rem;
  user-select: none;
}

.popup-title {
  font-weight: 900;
  background-color: #eee555;
  color: black;
  width: 100%;
  padding: 5px;
}

.popup-content {
  font-family: monospace;
  padding: 5px;
}

button {
  width: 100%;
}

.start-timer {
  font: bolder;
}
